body,html {
    width: 100%;
    margin: 0;
    font-family: Georgia, Helvetica, sans-serif;
    color: black;
    letter-spacing: 0.1em;
    scroll-behavior: smooth;
}

#intro {
    background-color: #e3cbc6;
    width: 100%;
    margin: 0;
    padding-top: 100px;
    border-bottom: 0.3px solid rgba(0,0,0,0.3);
}

.container {
    width: 100%;
    max-width:100%;
    word-wrap:break-word;
    margin: 0;
    border-bottom: 0.2px solid rgba(0,0,0,0.1);
}

.content{
    margin-left: 10%;
    margin-right: 10%;
    padding: 40px 10px;
    display: flex;
}

.content-single{
    margin-left: 10%;
    margin-right: 10%;
    padding: 60px 30px;
}

.column{
    flex: 50%;
    padding: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

ul {
  list-style: none;
  padding-left: 0;
}

.name{
    font-size: 20px;
    font-weight:bold;
    color: rgb(60,60,60);
    padding-right: 15px;
}

.date{
    font-size: 14px;
    color:rgb(150,150,150);
    padding-bottom: 15px;
}

.comnt{
    font-size:18px;
    color:black;
    padding-bottom:30px;
}

#image-container {
  object-fit: cover;
  border: 2px black;
  width: 500px;
  height: 400px;
  outline: 2px solid black;
}

.topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.95);
  box-shadow: 5px 3px 16px rgba(185, 185, 185, 0.6);
  padding: 10px 10.2%;
  z-index: 9999;
  float: left;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  border: 1.5px solid rgba(0,0,0,0);
  font-size: 17px;
  margin-left: 10px;
  margin-right: 5px;
}

.topnav a:hover {
  border: 1.5px solid #e3cbc6;
  border-radius: 8px;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

.button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 8px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Georgia;
  letter-spacing: 0.1em;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit]{
    background-color: #e3cbc6;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 8px;
    color: black;
    padding: 12px 20px;
    text-align: center;
    font-size: 16px;
    font-family: Georgia;
    letter-spacing: 0.1em;
}

input[type=submit]:hover{
    border: 1px solid rgb(56, 56, 56);
}

.button:hover{
    background-color: rgb(211,211,211);
}

.arrow-up {
  border: solid #f8f3f1;
  border-width: 0 2px 2px 0;
  border-radius: 2px;
  display: inline-block;
  padding: 4px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}


#top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 0.5%;
  z-index: 99;
  font-size: 13pt;
  font-family:Georgia;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0);
  color: #f8f3f1;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
}

#top-button:hover {
  color:rgb(56, 56, 56);
}

.insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-size: 42px; /* change this to change the size*/
  
}

a { color: white; text-decoration: none; }

.arrow {
  text-align: center;
  margin: 0;
  border: none;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.footer {
    text-align: center;
    padding: 20px;
    background-color:#f8f3f1

}
h1 {
    text-align: center;
    font-size: 30pt;
    color:rgb(56, 56, 56);
    font-weight: bold;
    line-height: 1.5em;
    padding-bottom: 30px;
}

h2 {
    text-align: left;
    color:rgb(56, 56, 56);
    font-weight: bold;
    line-height: 1.5em;
}

p {
    font-size: 16pt;
    text-align: left;
    letter-spacing: 0.07em;
    line-height: 1.45em;
    font-weight: normal;
}