#content {
  overflow: hidden;
  margin-top: 5%;
  width: 600px;
  height: 500px;
}

#image-container {
  object-fit: cover;
  border: 2px black;
  width: 70%;
  height: 70%;
}

body,html {
    background-image: url("images/ghibli.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    margin: 0;
    font-family: Georgia, Helvetica, sans-serif;
    color: white;
    letter-spacing: 0.1em;
    scroll-behavior: smooth;
}

.sidenav {
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 28.8%;
  left: 10px;
  background: rgb(0,0,0,0);
  overflow-x: visible;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 0px 50px 0px;
  text-decoration: none;
  font-size: 14pt;
  font-weight: bold;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: rgb(211,211,211);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 50px;}
  .sidenav a {font-size: 28px;}
}

.button {
  background-color: rgba(255, 255, 255, 0.384);
  border: 2px black;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Georgia;
  letter-spacing: 0.1em;
  margin: 4px 2px;
  cursor: pointer;
}

.button: hover{
    color: rgb(211,211,211);
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  border-radius: 2px;
  display: inline-block;
  padding: 4px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

#top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 2%;
  z-index: 99;
  font-size: 13pt;
  font-family:Georgia;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
}

#top-button:hover {
  color: rgb(211,211,211);
}

.bg-text {
  background: rgba(0,0,0,0.35);
  color: white;
  font-weight: bold;
  line-height:1.6;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 230%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
}

.insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-size: 42px; /* change this to change the size*/
  
}

h1 {
    text-align: center;
    font-size: 50pt;
}

h2 {
    text-align: left;
    color:rgb(211, 211, 211);
    font-weight: bold;
}

p {
    font-size: 14pt;
    text-align: left;
    letter-spacing: 0.07em;
    font-weight: normal;
}